*{
	margin:0;
	padding:0;
}

body{
	/* Setting default text color, background and a font stack */
	font-size:12px;
	color:#969696;

	background:#969696;

	text-shadow:1px 1px 0 white;
	font-family:Arial, Helvetica, sans-serif;
	overflow-x:hidden;
}

.popupBody{
	width:350px;
  height:120px;
text-align:center;
	padding:10px 20px;
	margin-bottom:10px;
}


.buttonContainer{
  width:200px;
  height:75px;
  text-align:center;

  padding:10px 20px;
  margin-bottom:10px;
  margin-top: 30px;
margin-left: 50px;

}

p,a{
	padding:10px 0 0 120px;
	display:block;
}


.myButton {
	-moz-box-shadow:inset 0px 0px 14px -3px #3dc21b;
	-webkit-box-shadow:inset 0px 0px 14px -3px #3dc21b;
	box-shadow:inset 0px 0px 14px -3px #3dc21b;
	background-color:#4CCA4C;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  float: center;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:hover{
    text-decoration: none;
}
.myButton:active {
	position:relative;
	top:1px;
}
